<h1>商品更新フォーム</h1>



<%= form_with model: @task, local: true do |f| %>
  <div>
    <p><%= f.label "タスク名:" %></p>
    <p><%= f.text_field :title %></p>
  </div>

  <div>
    <p><%= f.label "タスクメモ:" %></p>
    <p><%= f.text_area :memo %></p>
  </div>

  <div>
    <p><%= f.label "状態:" %></p>
    <p><%= f.select :status, [["下書き", "draft"],["公開", "published"],["アーカイブ", "archieved"]] %></p>
  </div>

    <p><%= f.submit "登録" %></p>
<% end %>

<%= link_to "一覧", tasks_path %>

