
<div class = "flash_box">
  <%= flash[:notice] if true %>
</div>  

<h3>タイトル:<%= @task.title %></h3>
<h3>メモ:<%= @task.memo %></h3>
<h3>状態:<%= @task.status %></h3>
<h3>登録日:<%= @task.created_at.strftime("%Y年%m月%d日") %></h3>

<%= link_to "一覧", tasks_path %>
<%= link_to "編集", edit_task_path %>
<%= link_to "削除",  @task, method: :delete, data: {confirm: '削除してよろしいですか？'} %>